<% require_relative "templates/entities/entity_helper.rb" %>

# <%= @entity.split("_").map(&:capitalize).join(" ") %>

<ol type="i">
  <% sorted_routes.each do |route| %>
    <li><%= route.description %></li>
  <% end %>
</ol>

<% sorted_routes.each do |route| %>
## <%= route.description %>

index: <%= route.index? %>
show:  <%= route.show? %>

```
<%= route.verb.upcase %> <%= route.path %>
```

<%= request_table(route.request) unless route.request.empty? %>

### Response

<% if route.succesfull_response.empty? %>
```
HTTP status: <%= route.succesfull_response.code %>
```
<% else %>
```
HTTP status: <%= route.succesfull_response.code %>

<%= JSON.pretty_generate(route.succesfull_response.to_json) %>
```
<% end %>

<% end %>
