<% require_relative "templates/entities/entity_helper.rb" %>

# <%= @entity.split("_").map(&:capitalize).join(" ") %>

<ol type="i">
  <% routes.each do |route| %>
    <li><%= route.description %></li>
  <% end %>
</ol>

<% routes.each do |route| %>
## <%= route.description %>

```
<%= route.verb.upcase %> <%= route.path %>
```

### Params

### Response

<% if route.succesfull_response.empty? %>
```
HTTP status: <%= route.succesfull_response.code %>
```
<% else %>
```
HTTP status: <%= route.succesfull_response.code %>

<%= JSON.pretty_generate(route.succesfull_response.to_json) %>
```
<% end %>

<% end %>
